{% extends 'base.html.twig' %}
{% block title %}Mettre l'id{% endblock %}
{% block body %}

    <div class="main">
        <div>
            <h3>{{ author.name }} {{ author.firstname }}</h3>
        </div>
        <div>
            Cet hauteur est née le {{ author.birhtDate|date("d/m/Y") }}.
            {% if author.DeathDate is not null %}
                Il est mort le {{ author.DeathDate|date("d/m/Y") }}
            {% else %}
                Il est toujours en vie à ce jour.
            {% endif %}
        </div>
        <div id="biography">
            {{ author.biography }}
        </div>
    </div>

{% endblock %}