{% extends 'base.html.twig' %}
{% block title %}Mettre l'id{% endblock %}
{% block body %}

    <div class="main">
        <div>
            <h4>{{ book.title }}</h4>
        </div>
        <div>
            Ce livre contient {{ book.NBpages }} page(s). De style {{ book.style }}.
        </div>
        <div>
            {% if book.InStock == true %}
                <p>Le livre est disponible</p>
            {% elseif book.InStock == false %}
                <p>Le livre est indisponible</p>
            {% endif %}
        </div>
        <div>
            {% if book.authors is null %}
                <p> L'auteur n'est pas précisé.</p>
            {% else %}
                Ecrit par {{ book.authors.name }} {{ book.authors.firstname }}.
            {% endif %}
        </div>
    </div>

{% endblock %}