{% extends 'base.html.twig' %}
{% block body %}
        {% for book in books %}
        <div class="main">
            <a href="{{ path('book_id', {'id' : book.id}) }}" >
                <div>
                    <h4>{{ book.title }}</h4>
                </div>
                <div>
                    Ce livre contient {{ book.NBpages }} page(s). De style {{ book.style }}.
                </div>
                <div>
                    {% if book.InStock == true %}
                        <p>Le livre est disponible</p>
                        {% elseif book.InStock == false %}
                        <p>Le livre est indisponible</p>
                    {% endif %}
                </div>
            </a>
            <div class="displayFlexEnd">
                <form  method="get" action="{{ path('books_delete_id', {'id': book.id}) }}">
                    <input id="suppBottom" type="submit" value="Supprimer">
                </form>
                <form  method="get" action="{{ path('books_update_id', {'id': book.id}) }}">
                    <input id="modifBottom" type="submit" value="Modifier">
                </form>
            </div>
        </div>

        {% endfor %}
{% endblock %}

